<table class='table'>
  <th>Image</th>
  <th>Name</th>
  <th>Description</th>
  <th>Quantity</th>
  <% @items.each do |item| %>
  <tr>
    <td>
      <%=image_tag item.image.tiny%>
    </td>
    <td>
      <%=item.name%>
    </td>
    <td>
      <%=item.description%>
    </td>
    <td>
      <%=item.quantity%>
    </td>
  </tr>
  <% end %>
</table>